- page_title "标记的项目"
- if @projects.any?
  = render 'shared/show_aside'

  .dashboard.row
    %section.activities.col-md-8
      = render 'dashboard/activities'
    %aside.col-md-4
      .panel.panel-default
        .panel-heading.clearfix
          .input-group
            = search_field_tag :filter_projects, nil, placeholder: '名称过滤', class: 'projects-list-filter form-control'
            - if current_user.can_create_project?
              %span.input-group-btn
                = link_to new_project_path, class: 'btn btn-success' do
                  新项目

        = render 'shared/projects_list', projects: @projects,
          projects_limit: 20, stars: true, avatar: false

- else
  %h3 没有标记任何项目
  %p.slead 访问项目页面然后按下标记图标即可将项目显示在此页面。
