.row
  .col-md-8
    = render 'projects/diffs/stats', diffs: diffs
  .col-md-4
    %ul.nav.nav-tabs
      %li.pull-right{class: params[:view] == 'parallel' ? 'active' : ''}
        - params_copy = params.dup
        - params_copy[:view] = 'parallel'
        = link_to "并排对比比较", url_for(params_copy), {id: "commit-diff-viewtype"}
      %li.pull-right{class: params[:view] != 'parallel' ? 'active' : ''}
        - params_copy[:view] = 'inline'
        = link_to "内嵌差异比较", url_for(params_copy), {id: "commit-diff-viewtype"}


- if show_diff_size_warning?(diffs)
  = render 'projects/diffs/warning', diffs: diffs

.files
  - safe_diff_files(diffs).each_with_index do |diff_file, index|
    = render 'projects/diffs/file', diff_file: diff_file, i: index, project: project

- if @diff_timeout
  .alert.alert-danger
    %h4
      搜集修改失败
    %p
      可能是差异非常大造成操作超时。请在本地重试
