.bs-callout.bs-callout-warning
  %h4
    太多修改。
    .pull-right
      - unless diff_hard_limit_enabled?
        = link_to "重新载入完整差异", url_for(params.merge(force_show_diff: true)), class: "btn btn-small btn-warning"

      - if current_controller?(:commit) or current_controller?(:merge_requests)
        - if current_controller?(:commit)
          = link_to "原始差异文件", project_commit_path(@project, @commit, format: :diff), class: "btn btn-warning btn-small"
          = link_to "Email 补丁文件", project_commit_path(@project, @commit, format: :patch), class: "btn btn-warning btn-small"
        - elsif @merge_request && @merge_request.persisted?
          = link_to "原始差异文件", project_merge_request_path(@project, @merge_request, format: :diff), class: "btn btn-warning btn-small"
          = link_to "Email 补丁文件", project_merge_request_path(@project, @merge_request, format: :patch), class: "btn btn-warning btn-small"
  %p
    为保证性能只显示
    %strong #{allowed_diff_size} / #{diffs.size}
    个文件。

