- page_title '两步验证', '账号'

%h2.page-title 两步验证 (2FA)
%p
  请从 iOS 的 App Store 或 Android 的 Google Play 下载谷歌身份验证器 (Google Authenticator) 应用，然后扫描下面的二维码。

%hr

= form_tag profile_two_factor_auth_path, method: :post, class: 'form-horizontal' do |f|
  - if @error
    .alert.alert-danger
      = @error
  .form-group
    .col-sm-2
    .col-sm-10
      = raw @qr_code
  .form-group
    = label_tag :pin_code, 'Pin 码', class: "control-label"
    .col-sm-10
      = text_field_tag :pin_code, nil, class: "form-control", required: true, autofocus: true
  .form-actions
    = submit_tag '提交', class: 'btn btn-success'
