%h3.page-title
  电子邮箱地址
%p.light
  %b 主要电子邮箱
  将用于账号通知、头像显示和在网站操作，比如：编辑和合并操作。
  %br
  所有电子邮箱地址都将用于识别提交作者。

%hr

.panel.panel-default
  .panel-heading
    电子邮箱 (#{@emails.count + 1})
  %ul.well-list#emails-table
    %li
      %strong= @primary
      %span.label.label-success 主要电子邮箱
    - @emails.each do |email|
      %li
        %strong= email.email
        %span.cgray
          增加时间：#{time_ago_with_tooltip(email.created_at)}
        = link_to '删除', profile_email_path(email), data: { confirm: '确定要继续么？'}, method: :delete, class: 'btn btn-small btn-remove pull-right'

%h4 增加电子邮箱地址
= form_for 'email', url: profile_emails_path, html: { class: 'form-horizontal' } do |f|
  .form-group
    = f.label :email, '电子邮箱', class: 'control-label'
    .col-sm-10
      = f.text_field :email, class: 'form-control'
  .form-actions
    = f.submit '增加', class: 'btn btn-create'
