%ul
  = nav_link(path: 'dashboard#show', html_options: {class: 'home'}) do
    = link_to root_path, title: '主页', class: 'shortcuts-activity' do
      活动
  = nav_link(path: 'dashboard#projects') do
    = link_to projects_dashboard_path, class: 'shortcuts-projects' do
      项目
  = nav_link(path: 'dashboard#issues') do
    = link_to issues_dashboard_path, class: 'shortcuts-issues' do
      问题
      %span.count= current_user.assigned_issues.opened.count
  = nav_link(path: 'dashboard#merge_requests') do
    = link_to merge_requests_dashboard_path, class: 'shortcuts-merge_requests' do
      合并请求
      %span.count= current_user.assigned_merge_requests.opened.count
  = nav_link(controller: :help) do
    = link_to "帮助", help_path

