%ul.nav.nav-sidebar
  = nav_link(path: 'projects#trending') do
    = link_to explore_root_path, title: '热门项目', data: {placement: 'right'} do
      = icon('comments fw')
      %span 热门项目
  = nav_link(path: 'projects#starred') do
    = link_to starred_explore_projects_path, title: '最多标记的项目', data: {placement: 'right'} do
      = icon('star fw')
      %span 最多标记的项目
  = nav_link(path: 'projects#index') do
    = link_to explore_projects_path, title: '所有项目', data: {placement: 'right'} do
      = icon('bookmark fw')
      %span 所有项目
  = nav_link(controller: :groups) do
    = link_to explore_groups_path, title: '所有群组', data: {placement: 'right'} do
      = icon('group fw')
      %span 所有群组

