%h3.page-title 保护的分支
%p.light 此功能用于保护稳定分支被覆盖以及合并保护分支前必须强制代码评审。
%hr

.bs-callout.bs-callout-info
  %p 保护的分支设计为：
  %ul
    %li prevent pushes from everybody except #{link_to "masters", help_page_path("permissions", "permissions"), class: "vlink"}
    %li prevent anyone from force pushing to the branch
    %li prevent anyone from deleting the branch
  %p 关于项目权限点击 #{link_to "这里", help_page_path("permissions", "permissions"), class: "underlined-link"} 了解更多

- if can? current_user, :admin_project, @project
  = form_for [@project, @protected_branch], html: { class: 'form-horizontal' } do |f|
    -if @protected_branch.errors.any?
      .alert.alert-danger
        %ul
          - @protected_branch.errors.full_messages.each do |msg|
            %li= msg

    .form-group
      = f.label :name, "分支", class: 'control-label'
      .col-sm-10
        = f.select(:name, @project.open_branches.map { |br| [br.name, br.name] } , {include_blank: "选择分支"}, {class: "select2"})
    .form-actions
      = f.submit '保护', class: "btn-create btn"
- unless @branches.empty?
  %h5 已经保护的：
  %ul.bordered-list.protected-branches-list
    - @branches.each do |branch|
      %li
        %h4
          = link_to project_commits_path(@project, branch.name) do
            %strong= branch.name
            - if @project.root_ref?(branch.name)
              %span.label.label-info 默认
            %span.label.label-success
              %i.fa.fa-lock
          .pull-right
            - if can? current_user, :admin_project, @project
              = link_to '取消保护', [@project, branch], data: { confirm: '该分支将允许开发者修改。确定要继续么？' }, method: :delete, class: "btn btn-remove btn-small"

        - if commit = branch.commit
          = link_to project_commit_path(@project, commit.id), class: 'commit_short_id' do
            = commit.short_id
          %span.light
            = gfm escape_once(truncate(commit.title, length: 40))
          #{time_ago_with_tooltip(commit.committed_date)}
        - else
          (分支已从仓库中删除)
