- page_title "账号"
- if current_user.ldap_user?
  .alert.alert-info
    部分设置对于 LDAP 账号无效

.account-page
  %fieldset.update-token
    %legend
      重置私有授权
    %div
      = form_for @user, url: reset_private_token_profile_path, method: :put do |f|
        .data
          %p
            私有授权可以免登录访问应用资源。
            %br
            通常在 RSS 和 API 中使用。
            %span.cred
              注意保密！

          %p.cgray
            - if current_user.private_token
              = text_field_tag "token", current_user.private_token, class: "form-control"
              %div
                = f.submit '重置私有授权', data: { confirm: "确定要继续么？" }, class: "btn btn-primary btn-build-token"
            - else
              %span 没有私有授权，点生成按钮可修复。
              = f.submit '生成', class: "btn success btn-build-token"

  - unless current_user.ldap_user?
    %fieldset
      - if current_user.otp_required_for_login
        %legend.text-success
          = icon('check')
          两步验证已开启
        %div
          .pull-right
            = link_to '禁止两步验证', profile_two_factor_auth_path, method: :delete, class: 'btn btn-close btn-sm',
                data: { confirm: '确定要继续么？' }
          %p
            如果丢失了恢复代码，可以
            %strong
              = succeed '，' do
                = link_to '生成新的', codes_profile_two_factor_auth_path, method: :post, data: { confirm: '确定要继续么？' }
            并取消以前的所有代码。

      - else
        %legend 两步验证
        %div
          %p
            开启两步验证 (2FA) 增加账户安全性。
          %p
            每次登入时除了需要通常情况下的用户名和密码外，
            还需要额外输入一个手机应用上随机生成的代码。
          %div
            = link_to '开启两步验证', new_profile_two_factor_auth_path, class: 'btn btn-success'

  - if show_profile_social_tab?
    %fieldset
      %legend 连接到的账户
      .oauth-buttons.append-bottom-10
        %p 点击下列服务的图标激活第三方登入
        - enabled_social_providers.each do |provider|
          .btn-group
            = link_to oauth_image_tag(provider), omniauth_authorize_path(User, provider),
              method: :post, class: "btn btn-lg #{'active' if oauth_active?(provider)}"
            - if oauth_active?(provider)
              = link_to unlink_profile_account_path(provider: provider), method: :delete, class: 'btn btn-lg' do
                = icon('close')

  - if show_profile_username_tab?
    %fieldset.update-username
      %legend
        修改用户名
      = form_for @user, url: update_username_profile_path,  method: :put, remote: true do |f|
        %p
          修改用户名会同时修改所有个人项目的路径！
        %div
          = f.text_field :username, required: true, class: 'form-control'
          &nbsp;
        .loading-gif.hide
          %p
            = icon('spinner spin')
            正在保存新的用户名
        %p.light
          = user_url(@user)
        %div
          = f.submit '保存用户名', class: "btn btn-warning"

  - if show_profile_remove_tab?
    %fieldset.remove-account
      %legend
        删除账号
      %div
        %p 删除账号会有如下影响：
        %ul
          %li 所有用户内容，比如：问题、代码片段、注释将被删除
          - rp = current_user.personal_projects.count
          - unless rp.zero?
            %li #{pluralize rp, '个个人项目', '个个人项目'}将被删除并无法恢复
          - if current_user.solo_owned_groups.present?
            %li
              下列群组将被废弃。建议先转移或删除：
              %strong #{current_user.solo_owned_groups.map(&:name).join(', ')}
        = link_to '删除账号', user_registration_path, data: { confirm: "确定要删除 #{current_user.name}  么？" }, method: :delete, class: "btn btn-remove"

