= form_for @group, html: { class: 'group-form form-horizontal' } do |f|
  - if @group.errors.any?
    .alert.alert-danger
      %span= @group.errors.full_messages.first
  .form-group
    = f.label :name, class: 'control-label' do
      群组名称
    .col-sm-10
      = f.text_field :name, placeholder: "例：OpenSource", class: "form-control", tabindex: 1, autofocus: true

  .form-group.group-description-holder
    = f.label :description, "详细", class: 'control-label'
    .col-sm-10
      = f.text_area :description, maxlength: 250, class: "form-control js-gfm-input", rows: 4, tabindex: 2

  .form-group.group-description-holder
    = f.label :avatar, "群组头像", class: 'control-label'
    .col-sm-10
      %a.choose-btn.btn.btn-small.js-choose-group-avatar-button
        %i.fa.fa-paperclip
        %span 选择文件...
      &nbsp;
      %span.file_name.js-avatar-filename 文件名...
      = f.file_field :avatar, class: "js-group-avatar-input hidden"
      .light 允许的最大文件大小 100KB。

  .form-group
    .col-sm-2
    .col-sm-10
      %ul
        %li 群组是多个项目的集合。
        %li 群组默认是私有的。
        %li 只有群组的成员才有权查看项目。
        %li 群组项目的 URL 都会带上群组的名字。
        %li 现有项目可以转移到群组。

  .form-actions
    = f.submit '创建群组', class: "btn btn-create", tabindex: 3
