= render "projects/commits/head"
.row
  .col-md-6
    %div#activity-chart.chart
    %hr
    %p
      %b 提交合计：
      %span= @repository.commit_count
    %p
      %b #{@repository.root_ref} 文件合计：
      %span= @stats.files_count
    %p
      %b 作者：
      %span= @stats.authors_count


  .col-md-6
    %h4 前 50 位提交者：
    %ol.styled
      - @stats.authors[0...50].each do |author|
        %li
          = image_tag avatar_icon(author.email, 16), class: 'avatar s16', alt: ''
          = author.name
          %small.light= author.email
          .pull-right
            = author.commits


:javascript
  var labels = [#{@graph.labels.to_json}];
  var commits = [#{@graph.commits.join(', ')}];
  var title = "最近 #{@graph.weeks} 周提交统计";
  Chart.init(labels, commits, title);
