.dropdown.inline.prepend-left-10
  %a.dropdown-toggle.btn{href: '#', "data-toggle" => "dropdown"}
    %span.light 排序：
    - if params[:sort] == 'oldest'
      最旧创建的
    - elsif params[:sort] == 'recently_updated'
      最近更新的
    - elsif params[:sort] == 'last_updated'
      最旧更新的
    - elsif params[:sort] == 'milestone_due_soon'
      最近快到的里程碑
    - elsif params[:sort] == 'milestone_due_later'
      最近过去的里程碑
    - else
      最近创建的
    %b.caret
  %ul.dropdown-menu
    %li
      = link_to page_filter_path(sort: 'newest') do
        = sort_title_recently_created
      = link_to page_filter_path(sort: 'oldest') do
        = sort_title_oldest_created
      = link_to page_filter_path(sort: 'recently_updated') do
        = sort_title_recently_updated
      = link_to page_filter_path(sort: 'last_updated') do
        = sort_title_oldest_updated
      = link_to page_filter_path(sort: 'milestone_due_soon') do
        最近快到的里程碑
      = link_to page_filter_path(sort: 'milestone_due_later') do
        最近过去的里程碑
