.form-group
  = f.label :title, class: 'control-label' do
    %strong= '标题 *'
  .col-sm-10
    = f.text_field :title, maxlength: 255, autofocus: true,
        class: 'form-control pad js-gfm-input', required: true
.form-group.issuable-description
  = f.label :description, '描述', class: 'control-label'
  .col-sm-10
    = render 'projects/zen', f: f, attr: :description,
                             classes: 'description form-control'
    .col-sm-12.hint
      .pull-left
        被解析为
        #{link_to 'GitLab 特色 Markdown', help_page_path('markdown', 'markdown'), target: '_blank'} 格式。
      .pull-right
        可以拖放或#{link_to '选择文件', '#', class: 'markdown-selector' }来附加图片(JPG, PNG, GIF)。
    .clearfix
    .error-alert
%hr
.form-group
  .issue-assignee
    = f.label :assignee_id, class: 'control-label' do
      %i.icon-user
      指派给
    .col-sm-10
      = project_users_select_tag("#{issuable.class.model_name.param_key}[assignee_id]",
          placeholder: '选择用户', class: 'custom-form-control',
          selected: issuable.assignee_id)
      &nbsp;
      = link_to '指派给自己', '#', class: 'btn assign-to-me-link'
.form-group
  .issue-milestone
    = f.label :milestone_id, class: 'control-label' do
      %i.icon-time
      里程碑
    .col-sm-10= f.select(:milestone_id, milestone_options(issuable),
        { include_blank: '选择里程碑' }, { class: 'select2' })
