- if @project.import_in_progress?
  .save-project-loader
    .center
      %h2
        %i.icon-spinner.icon-spin
        正在导入。
      %p.monospace git clone --bare #{hidden_pass_url(@project.import_url)}
      %p 请等待后台导入版本仓库。可以刷新或离开本页面。
      :javascript
        new ProjectImport();

- elsif @project.import_failed?
  .save-project-loader
    .center
      %h2
        导入失败。是否要重试？
  %hr
  - if can?(current_user, :admin_project, @project)
    = form_for @project, url: retry_import_project_path(@project), method: :put, html: { class: 'form-horizontal' } do |f|
      .form-group.import-url-data
        = f.label :import_url, class: 'control-label' do
          %span 导入已存在的版本库
        .col-sm-10
          = f.text_field :import_url, class: 'form-control', placeholder: 'https://github.com/randx/six.git'
          .bs-callout.bs-callout-info
            版本仓库链接必须是公开访问的或者增加用户名和密码。示例： https://username:password@gitlab.com/company/project.git.
            %br
            超过 4 分钟的导入会超时。大的版本仓库可以先本地克隆再推送到仓库。
      .form-actions
        = f.submit '重新导入', class: "btn btn-create", tabindex: 4
