- if @commits.present?
  .panel.panel-default
    .panel-heading
      %i.fa.fa-list
      提交 (#{@commits.count})
    .commits.mr-commits
      - if @commits.count > 8
        %ul.first-commits.well-list
          - @commits.first(8).each do |commit|
            = render "projects/commits/commit", commit: commit, project: @merge_request.source_project
          %li.bottom
            已显示 8 / #{@commits.count} 提交。
            %strong
              %a.show-all-commits 显示所有
        - if @commits.size > MergeRequestDiff::COMMITS_SAFE_SIZE
          %ul.all-commits.hide.well-list
            - @commits.first(MergeRequestDiff::COMMITS_SAFE_SIZE).each do |commit|
              = render "projects/commits/inline_commit", commit: commit, project: @merge_request.source_project
            %li
              其他 #{@commits.size - MergeRequestDiff::COMMITS_SAFE_SIZE} 次提交因为性能问题而隐藏。
        - else
          %ul.all-commits.hide.well-list
            - @commits.each do |commit|
              = render "projects/commits/inline_commit", commit: commit, project: @merge_request.source_project

      - else
        %ul.well-list
          - @commits.each do |commit|
            = render "projects/commits/commit", commit: commit, project: @merge_request.source_project

