%h4.page-title
  .issue-box{ class: issue_box_class(@merge_request) }
    = @merge_request.state_human_name
  = "合并请求 ##{@merge_request.iid}"
  %small.creator
    &middot;
    创建时间 #{link_to_member(@project, @merge_request.author)} #{time_ago_with_tooltip(@merge_request.created_at)}

  .issue-btn-group.pull-right
    - if can?(current_user, :modify_merge_request, @merge_request)
      - if @merge_request.open?
        = link_to '关闭', merge_request_path(@merge_request, merge_request: { state_event: :close }), method: :put, class: "btn btn-grouped btn-close", title: "关闭合并请求"
        = link_to edit_namespace_project_merge_request_path(@project.namespace, @project, @merge_request), class: "btn btn-grouped issuable-edit", id: "edit_merge_request" do
          %i.fa.fa-pencil-square-o
          编辑
      - if @merge_request.closed?
        = link_to '重新打开', merge_request_path(@merge_request, merge_request: {state_event: :reopen }), method: :put, class: "btn btn-grouped btn-reopen reopen-mr-link", title: "重新打开合并请求"
