.issue-box{ class: issue_box_class(@merge_request) }
  .state.clearfix
    .state-label
      - if @merge_request.merged?
        已合并
      - elsif @merge_request.closed?
        已关闭
      - else
        未关闭

    .creator
      创建时间 #{link_to_member(@project, @merge_request.author)} #{time_ago_with_tooltip(@merge_request.created_at)}

  %h4.title
    = gfm escape_once(@merge_request.title)

  - if @merge_request.description.present?
    .description
      .wiki
        = preserve do
          = markdown(@merge_request.description, parse_tasks: true)

  .context
    %cite.cgray
      = render partial: 'projects/merge_requests/show/context', locals: { merge_request: @merge_request }
