- if @commits.any?
  .ci_widget.ci-success{style: "display:none"}
    %i.icon-ok
    %span CI 构建通过
    for #{@merge_request.last_commit_short_sha}.
    = link_to "构建页面", ci_build_details_path(@merge_request)


  .ci_widget.ci-failed{style: "display:none"}
    %i.icon-remove
    %span CI 构建失败
    for #{@merge_request.last_commit_short_sha}.
    = link_to "构建页面", ci_build_details_path(@merge_request)

  - [:running, :pending].each do |status|
    .ci_widget{class: "ci-#{status}", style: "display:none"}
      %i.icon-time
      %span CI 构建 #{status}
      for #{@merge_request.last_commit_short_sha}.
      = link_to "构建页面", ci_build_details_path(@merge_request)

  .ci_widget
    %strong
      %i.icon-spinner
      正在检查 #{@merge_request.last_commit_short_sha} 的 CI 构建状态

  .ci_widget.ci-error{style: "display:none"}
    %i.icon-remove
    %span 无法连接到 CI 服务器。请检查相关设置并重试。
