- unless @allowed_to_merge
  - if @project.archived?
    %p
      %strong 已归档项目不能提交修改！
  - else
    .automerge_widget.cannot_be_merged.hide
      %strong 无法自动合并，或者其可以合并但你没有权限处理。
    .automerge_widget.work_in_progress.hide
      %strong 此请求无法自动合并是因为其被标记为正在工作中 (WIP)。或者其可以合并但你没有权限处理。
    .automerge_widget.can_be_merged.hide
      %strong 可以自动合并，但你没有权限处理。


- if @show_merge_controls
  .automerge_widget.can_be_merged.hide
    .clearfix
      = form_for [:automerge, @project.namespace.becomes(Namespace), @project, @merge_request], remote: true, method: :post do |f|
        .accept-merge-holder.clearfix.js-toggle-container
          .accept-action
            = f.submit "接受合并请求", class: "btn btn-create accept_merge_request"
          - if can_remove_branch?(@merge_request.source_project, @merge_request.source_branch) && !@merge_request.for_fork?
            .accept-control.checkbox
              = label_tag :should_remove_source_branch, class: "remove_source_checkbox" do
                = check_box_tag :should_remove_source_branch
                删除来源分支
          .accept-control
            = link_to "#", class: "modify-merge-commit-link js-toggle-button", title: "修改合并提交信息" do
              %i.fa.fa-edit
              修改提交信息
          .js-toggle-content.hide.prepend-top-20
            = render 'shared/commit_message_container', params: params,
                text: @merge_request.merge_commit_message,
                rows: 14, hint: true

        %br
        .light
          如果希望手工操作，请使用
          %strong
            = link_to "命令行", "#modal_merge_info", class: "how_to_merge_link vlink", title: "如何合并", "data-toggle" => "modal"


  .automerge_widget.no_satellite.hide
    %p
      %span
        %strong 此版本仓库没有附属（satellite）。请询问管理员修正此问题。

  .automerge_widget.cannot_be_merged.hide
    %h4
      此请求无法直接在 GitLab 合并。
      可以使用
      %strong
        = link_to "#modal_merge_info", class: "underlined-link how_to_merge_link", title: "如何合并", "data-toggle" => "modal" do
          命令行
      手工处理

    %p
      %button.btn.disabled{:type => 'button'}
        %i.fa.fa-warning
        接受合并请求
      &nbsp;
      这通常发生在 git 无法在分支合并中自动解决冲突。

  .automerge_widget.work_in_progress.hide
    %h4
      此请求无法被合并是因为其被标记为<strong>正在工作中 (WIP)</strong>。

    %p
      %button.btn.disabled{:type => 'button'}
        %i.fa.fa-warning
        接受合并请求
      &nbsp;

      当合并请求已准备，请从标题中删除 "WIP" 正在工作中前缀，允许其可以被合并。

  .automerge_widget.unchecked
    %p
      %strong
        %i.fa.fa-spinner.fa-spin
        正在检查是否可以自动合并…

  .automerge_widget.already_cannot_be_merged.hide
    %p
      %strong 此合并请求无法合并，请重新载入本页面重试。

  .merge-in-progress.hide
    %p
      %i.fa.fa-spinner.fa-spin
      &nbsp;
      正在合并处理。请稍候。页面会自动重新载入。 &nbsp;
