!!! 5
%html{ lang: "en"}
  = render "layouts/head"
  %body.ui_basic.login-page
    .container
      .content
        .login-title
          %h1= brand_title
    %hr
    .container
      .content
        = render "layouts/flash"
        .row
          .col-md-7.brand-holder
            - if brand_item
              .brand-image
                = brand_image
              .brand_text
                = brand_text
            - else
              .brand-image.default-brand-image.hidden-sm.hidden-xs
                = image_tag 'brand_logo.png'
              .brand_text.hidden-xs
                %h2 Gitlab 是用于代码协作的开源软件

                %p.lead
                  提供细粒度访问控制管理的 git 仓库以保证代码安全。
                  使用合并请求进行代码审查并加强团队协作。
                  每个项目均有自己的问题跟踪和维基页面。

          .col-md-5
            = yield
    %hr
    .container
      .footer-links
        = link_to "浏览", explore_root_path
        = link_to "文档", "http://doc.gitlab.com/"
        = link_to "关于 GitLab", "https://about.gitlab.com/"
        = link_to "中文", "https://gitlab.com/larryli/gitlab/"
